@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

main {
  max-width: 1220px;
  width: 1220px;
  padding: 0 15px;
}

@media (max-width: 1220px) {
  main {
    width: 100%;
  }
}

input,
textarea,
select,
button {
  outline: none;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  padding: 2rem;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 2rem;
}

.header-description {
  width: 65rem;
  /* padding: 0 12rem; */
  margin-bottom: 8rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.btn-add {
  display: block;
  font-weight: 300;
  align-self: end;
  padding: 8px 12px;
  border: 1px solid #007bff;
  border-radius: 8px;
  color: #fff;
  background-color: #007bff;
  margin-bottom: 1.5rem;
}

/* cards */
.cards-gallery {
  --card-columm: 3;
  --card-spacing: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-spacing));
  margin-bottom: calc(-1 * var(--card-spacing));
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  width: calc(calc(100% / var(--card-columm)) - var(--card-spacing));
  margin-left: var(--card-spacing);
  margin-bottom: var(--card-spacing);
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-shrink: 0;
}

.card-top {
  flex: 1;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.card-image {
  width: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

.card-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 2rem;
  flex: 1;
}

.card-bottom {
  padding: 12px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  margin-top: auto;
}

.card-group-btn {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  min-width: 6.2rem;
  background-color: #007bff;
  text-align: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 4px;
}

.btn-edit {
  margin-left: 8px;
}

.paginations {
  /* margin: 1.5rem 0; */
  display: flex;
  /* align-self: end; */
  /* border: 1px solid #ccc; */
  /* border-radius: 0.8rem; */
  align-items: center;
  overflow: hidden;
  gap: 4px;
}

.pagination {
  cursor: pointer;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 4.2rem;
  width: 4.2rem;
  justify-content: center;
  align-items: center;
}

/* .pagination + .pagination {
  display: block;
  border-left: 1px solid #ccc;
} */

.pagination-link {
  display: block;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  color: #007bff;
  flex: 1;
  text-align: center;
}

.pagination-link:hover {
  background-color: #c7c2c2;
}

.toTopPage {
  align-self: center;
  background-color: darkgray;
  margin-bottom: 2rem;
}

.logout {
  align-self: end;
  background-color: #fff;
  color: #007bff;
  border: 1px solid;
  border-color: rgba(189, 175, 175, 0.76);
  margin-bottom: 2rem;
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.pagination-buttons {
  align-self: end;
  margin: 3rem 0;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  display: flex;
  gap: 4px;
}

.previous-page {
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.next-page {
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.active-page {
  background-color: #5fd6df;
  color: #fff;
}

.btn-disable {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

.btn-disable .pagination-link {
  color: #aaa;
}
