@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

body {
    background-color: peachpuff;
}

.btn {
    width: 100%;
    display: block;
}

#login-error-mess {
    /* display: none; */
    color: red;
    cursor: default;
}