@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

input,
textarea,
select,
button {
    outline: none;
    font-size: 1.6rem;
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 5.4rem 0;
    font-size: 3.4rem;
    font-weight: 300;
}

.btn {
    display: block;
    min-width: 6.2rem;
    background-color: #6C757D;
    text-align: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 4px;
    font-weight: 300;
    align-self: start;
}

.btn-to-index {
    margin: 2.5rem 0;
}

.btn-to-index:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.main {
    align-self: stretch;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
}

.card-image {
    width: 100%;
    object-fit: cover;
    height: 25rem;
}

.card-content {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
}

.card-header {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    color: #000;
}

.card-text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
}

.card-time {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #6c757d;
}